@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

/*
.topHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3% 6.3% 0 6.2%;
  box-sizing: border-box;
}
*/

/*
.logo {
  font-style: normal;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.25rem;
  color: #6070ff;
}

.logo a {
  text-decoration: none;
  color: #6070ff;
}
*/

/* previo desktop 

.nav-bar {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 6rem;
} 

.nav-list {
  display: flex;
  align-items: center;
}

.nav-list ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

.nav-item {
  margin: 0px 15px;
}

.nav-link {
  text-decoration: none;
  font-size: 1.15rem;
  color:#344563;
  font-weight: 500;
}

.mobile-menu-icon {
  display: none;
}

.mobile-menu {
  display: none;
}

*/

/*
.nav-bar {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 3rem;

}

.nav-item {
  display: block;
}

.mobile-menu-icon {
  display: block;
}

.mobile-menu-icon button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.mobile-menu {
  display: none;
  display: flex; 
  flex-direction: column;
  text-align: center;
  padding-bottom: 1rem;
}

.mobile-menu .nav-item {
  display: block;
  padding-top: 1.2rem;
}

.open {
  display: block;
}

#style-x {
  background-color: transparent;
  border: none;
  cursor: pointer;  
}
*/

@media screen and (max-width: 767px) {
  header {
    display: flex;
    width: 100%;
    height: 44px;
  }

  header nav {
    width: 100%;
    height: 48px;
    display: flex;
    justify-content: flex-end;
    background-color: #fff;
  }

  .logo {
    width: 50%;
    height: 100%;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #fff;
    padding: 2px;
  }

  .logo a {
    margin-left: 24px;
    background-color: #fff;
    color: #5464f8;
    text-decoration: none;
  }
}

@media screen and (min-width: 768px) {
  header {
    display: flex;
    width: 100%;
    height: 120px;
    background-color: #fff;
    align-items: center;
    justify-content: space-around;
  }

  header nav {
    width: 100%;
    height: 48px;
    display: flex;
    justify-content: flex-end;
    background-color: #fff;
  }

  .logo {
    width: 50%;
    height: 100%;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #fff;
    padding: 0 0 0 155px;
    text-decoration: none;
  }

  .logo a {
    margin-left: 24px;
    background-color: #fff;
    color: #5464f8;
    text-decoration: none;
  }
}

@media screen and (max-width: 767px) {
  .header-menu {
    display: none;
  }

  .header-menu.open {
    width: 400%;
    height: 670px;
    margin: 0 0 42px -53%;
    background-color: #031cfbb0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    backdrop-filter: blur(5px);
    z-index: 9;
  }

  .header-menu a {
    color: #fff;
    flex-basis: 10px;
    margin-top: 74px;
    margin-left: 34px;
    text-decoration: none;
    font-size: 31px;
    position: sticky;
    left: 7%;
    line-height: 13px;
  }

  .hamburger {
    display: flex;
    justify-content: flex-end;
  }

  .hamburger img {
    margin-right: 12px;
  }

  .hamburger.display {
    display: none;
  }

  .close {
    color: white;
    position: absolute;
    right: 29px;
    top: 10px;
    font-size: 21px;
  }
}

@media screen and (min-width: 768px) {
  .hamburger {
    display: none;
  }

  .header-menu {
    display: flex;
    width: 35%;
    justify-content: space-around;
    align-items: center;
    padding-right: 155px;
  }

  .header-menu a {
    text-decoration: none;
    color: #344563;
    margin: 0 3px;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
  }

  .close {
    display: none;
  }
}

/* Content Main Page */ 

.content {
  display: flex;
  flex-direction: column;
  height: 600px;
  padding: 0 6.2%;
  background-image: url("../images/background.png");
  background-size: cover;
}

.content h1 {
  font-style: normal;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 3.25rem;
  text-align: left;
  margin-top: 5.625rem;
  margin-bottom: 0.625rem;
  color: #172b4d;
}

.paragraph {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #344563;
  text-align: left;
  margin-bottom: 1.125rem;
  margin-top: 1.625rem;
}

.social-media {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: left;
  gap: 1.25rem;
  margin-top: 1.563rem;
}

.content a {
  text-decoration: none;
  color: #7f8cff;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
}

.card-container {
  display: grid;
  grid-template-rows: auto auto auto auto;
  row-gap: 60px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  padding: 16px;
  margin: 8px;
  gap: 12px;
}

.screenshot {
  width: 100%;
}

.card-description {
  display: flex;
  flex-direction: column;
  overflow-wrap: break-word;
}

.card-title {
  color: #172b4d;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
}

.card-bg-info {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.card-bg-info p {
  color: #344563;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
}

.card-bg-info ul {
  display: flex;
  margin-left: 30px;
  color: #7a869a;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
}

.card-text {
  color: #344563;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  padding-top: 10px;
}

.card-skills {
  padding-top: 10px;
}

.card-skills ul li {
  float: left;
  list-style: none;
  align-items: center;
  margin-right: 8px;
  background: #ebebff;
  color: #6070ff;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  padding: 4px 12px;
  border-radius: 8px;
}

.social-media li:hover {
  transform: scale(1.5);
}

.card-bg-info ul li:nth-child(2) {
  margin-left: 30px;
}

.btn {
  color: #6070ff;
  background: transparent;
  padding: 12px;
  margin-top: 25px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  cursor: pointer;
}

.btn:hover {
  background-color: #6070ff;
  color: #fff;
}

.btn:active {
  background-color: #2230d2;
}

/* About Section */
.about-container {
  display: grid;
  grid-template-rows: auto auto;
  background-color: #fff;
  border-top-right-radius: 80px;
  padding: 114px 24px;
}

.about {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.about h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  color: #172b4d;
}

.about p {
  font-size: 16px;
  color: #344563;
}

#about-heading {
  padding-bottom: 15px;
  color: #6070ff;
}

.about .btn {
  margin-top: 0;
}

.skill-list {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.skill-list ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.skill-container {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.skill-container button {
  margin-right: 15px;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.skill-container > ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.skill-item {
  display: flex;
  justify-content: space-between;
  padding: 24px 12px;
  font-size: 20px;
  font-weight: 500;
}

.language-item > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 9px 12px;
  background-color: #f7f7f9;
  list-style: none;
}

.language-item p {
  margin-left: 15px;
  color: #253858;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
}

.bottom-bar {
  border-bottom: 1px solid #dfe1e6;
}

/* languages mobile */

.list-languages {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 0.813rem;
  color: #000;
}

.list-languages h2 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.5rem;
}

.separator {
  border-bottom: 1px solid #dfe1e6;
  padding-bottom: 1.563rem;
  margin-bottom: 0.625rem;
  margin-top: 1.25rem;
}

.format-ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
}

#prog-languages {
  margin-top: 1.563rem;
  margin-bottom: 1.375rem;
}

#id-list-languages {
  display: flex;
  flex-direction: column;
  list-style: none;
  justify-content: flex-start;
  gap: 0.8rem;
  margin-left: 0.813rem;
  margin-bottom: 0.813rem;
}

#id-list-languages li {
  display: flex;
  background-color: #f7f7f9;
  border-radius: 0.5rem;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  padding-top: 0.313rem;
  padding-bottom: 0.375rem;
  padding-left: 0.5rem;
}

#language-list {
  list-style: none;
}

/* Form Section */

#form-section {
  background-color: #fff;
}

#contact-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 90px 24px 45px 24px;
  background-image: url(../images/form-shapes.svg);
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #6070ff;
  border-top-left-radius: 80px;
}

#form ul {
  list-style: none;
}

#contact-container h2 {
  color: #fff;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  margin-bottom: 10px;
}

#contact-container p {
  color: #ebebff;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
}

#form input,
#form textarea {
  width: 327px;
  height: 48px;
  border-radius: 8px;
  border: none;
}

#form input {
  width: 95%;
  height: 48px;
  padding: 10px;
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
}

#form textarea {
  width: 91%;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  height: 150px;
  margin-bottom: 20px;
  padding: 10px 16px;
  font-size: 17px;
  line-height: 20px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
}

#form button {
  background-color: #fff;
}

#form .btn:hover {
  background-color: #6070ff;
  color: #fff;
  border: 1px solid #fff;
}

#form .btn:active {
  background-color: #2230d2;
}

.mobile {
  display: block;
}

.desktop {
  display: none;
}

/* Media queries section */

/* Suggestion */

@media (max-width: 767px) {
  .links-index {
    display: none;
  }
}

@media (min-width: 768px) {
  /*
  header nav ul {
    list-style-type: none;
    display: flex;
  }

  header nav ul li {
    padding: 10px 12px;
  }

  header nav a {
    text-decoration: none;
    font-size: 15px;
    color: #344563;
    font-weight: 700;
    line-height: 20px;
    cursor: pointer;
  }

  #breadcrumb {
    display: none;
  }
  */

  /* Card Section */

  .card-container {
    padding: 9%;
  }

  .cards {
    flex-direction: row;
    gap: 10px;
  }

  .cards > div {
    width: 50%;
  }

  .cards .screenshot {
    object-fit: cover;
    height: 100%;
  }

  .card-description {
    padding: 1% 2%;
  }

  .card-1 {
    order: 3;
  }

  .card-2 {
    order: 4;
  }

  .card-3 {
    order: 1;
  }

  .card-4 {
    order: 2;
  }

  .card-2,
  .card-4 {
    flex-direction: row-reverse;
  }

  .mobile {
    display: none;
  }

  .desktop {
    display: block;
  }

  /* About Section */
  .about-container {
    grid-template-columns: 45% 55%;
    padding: 9%;
  }

  .format-ul li {
    width: 100%;
  }

  .skill-list {
    padding-top: 0;
    list-style: none;
  }

  .skill-item:nth-child(1) {
    padding: 8px 12px 24px 12px;
  }

  .skill-item:nth-child(2),
  .skill-item:nth-child(3) {
    padding: 24px 12px;
  }

  #language-list {
    display: flex;
    flex-direction: row;
    list-style: none;
  }

  .language-item > div {
    flex-direction: column;
    width: 100px;
    height: 100px;
    align-items: start;
    border-radius: 8px;
  }

  .language-item img {
    width: 48px;
  }

  .language-item p {
    margin-left: 0;
    margin-top: 10px;
  }

  /* Contact Form */

  #contact-container {
    padding: 12% 30%;
    background-image: url(../images/contact-form-bg-desktop.svg);
    background-size: 94%;
    background-position: 60% 30%;
  }

  #button-container {
    display: flex;
    justify-content: center;
  }
}
